@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.flex-img {
  display: block;
  width: 100%;
}

a {
  color: #707000;
  text-decoration: none;
}

.masthead {
    overflow: hidden;
    display: block;
    background-color:#f0efe8;
}

.logo {
    width: 5rem;
    text-align: center;
    display: inline-block;
    
}

.logo a {
    display: block;
}    

.logo img {
    width: 4em;
}

.section-medium {
  background-color: #e2e2e2;
}

ul {
    list-style-type: none;
} 

.nav-top {
    text-align: center;
    text-decoration:none;
}
.nav a {
    display: block;
    text-decoration: none;
}
.nav {
    padding: 0;
}

.nav li {
    text-decoration:none;
    display:inline-block;
    text-align: center;
    }

.drop-in {
    width: 5rem;
    text-align: center;
    display: inline-block;
}

.footer {
  text-align: center;
}

.banner {
  text-align: center;
  position: relative; 
}

.p-overlay {
    text-align:center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px black;
}  

.free {
    width: 3em;
    text-align: center;
    display: inline-block;
}

.overlay {
    position:absolute;
    top: 50%;
    background-color:(RGBA 0.6);
    font-size: 2.5em;
    color: white;
    font-family:sans-serif;
    transform: translateY(-50%);
}

.services {
    background-color: #f0efe8;
    text-align: center;
   
}

.offer {
    background-color: #f0efe8;
}

.align-center {
    text-align: center;
}

.auto-center {
    text-align: center;
}

.icon {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

figure {
    display: block;
    width: 100%;
}

.nav-bottom {
    text-align: right;
}



.copyright {
    display: inline;
    font-size: 62.5%;
    color: #707000;
}

.terms-conditions {
    display: inline;
    font-size: 62.5%;
    color: #707000;
}


@media only screen and (min-width: 20em) {
    
    .masthead {
        text-align: center;
    }
    
    .bodycopy {
        font-size: 1em;
        text-align:center;
    }
        
}


@media only screen and (min-width: 25em) {
    
    .footer {
        text-align: center;
    }
    
   .bodycopy {
        font-size: 1em;
        text-align:center;
    }
        
}

@media only screen and (min-width: 38em) {
    
   
    
    .footer {
        text-align: center;
    }
    
    .footer-links {
        float: right;
    }
    
    .top-links {
        text-align: center;
    }
   
    .bodycopy {
        font-size: 1em;
        text-align:center;
    }
        
    .button {
        text-align: center;
    }
    
    .logo {
        width: 6rem;
    }
    
    .logo-wrap {
        text-align: left;
    }
    
    .width-80 {
        text-align: center;
        width: 80%;
        margin: 0 auto;
}

@media only screen and (min-width: 60em) {
    
    .top-links {
        text-align:center;
    }
    
      .bodycopy {
        font-size: 1em;
        text-align:center;
    }
    
     .button {
       text-align:center;
    }
       
    .nav {
        float:right;
        width: 66.666%;
    }
    
    .logo {
        text-align: left;
    }
    .nav-top {
        text-align: right;
    }
}